.footer {
  padding: 100px 0;
  background-color: #2e2f42;
  color: #f4f4fd;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 16px;
}

.logo-studio-footer {
  color: #f4f4fd;
}

.footer-text {
  width: 264px;
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
